<div class="container">
  <mat-card mat-elevation-z5 class="game-card" *ngFor="let game of games">
    <div class="img-container">
      <img mat-card-img [src]="game.urlBoxArt" alt="boxArt" />
    </div>
    <div class="rest-container">
      <mat-card-title>{{ game.name }}</mat-card-title>
      <mat-card-subtitle
        >Preço: {{ game.price | currency: "BRL" }}</mat-card-subtitle
      >
      <mat-card-actions>
        <button mat-raised-button color="primary">
          <a routerLink="update/{{ game.id }}">
            Editar
            <i class="material-icons">edit</i>
          </a>
        </button>
        <button mat-raised-button color="primary">
          <a routerLink="delete/{{ game.id }}">
            Excluir
            <i class="material-icons" style="color: #e35e6b">delete</i>
          </a>
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
