<mat-card>
  <mat-card-title
    >Tem certeza que deseja deletar o seguinte jogo?</mat-card-title
  >

  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome do jogo"
        [value]="game.name"
        name="name"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Preço"
        [value]="game.price | currency"
        name="price"
        disabled
      />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="deleteGame()" color="warn">Deletar</button>

  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
