.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.title-group {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}

.header i {
  margin-right: 8px;
}
