.header {
  justify-content: space-between;
  position: fixed;
  z-index: 9;
}

.page-info {
  display: flex;
  align-items: center;
}

.page-title {
  margin-right: 32px;
  cursor: pointer;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.title-group {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}

.header i {
  margin-right: 8px;
}

.title {
  font-size: 2rem;
}
