<mat-card>
  <mat-card-title>Novo Jogo</mat-card-title>

  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome do jogo"
        [(ngModel)]="game.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Preço do jogo (BRL)"
        [(ngModel)]="game.price"
        name="price"
        type="number"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="URL da Box Art do jogo"
        [(ngModel)]="game.urlBoxArt"
        name="url"
      />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="createGame()" color="primary">
    Cadastrar Jogo
  </button>

  <button mat-raised-button (click)="cancel()" color="warn">
    Cancelar Cadastro
  </button>
</mat-card>
